@use "../abstracts/mixins" as *;

.btn-1 {
  display: inline-block;
  //   padding: 3rem;
  border-radius: 0.5rem;
  background-color: var(--color-violet-normal);
  color: var(--color-white);
  min-width: 12.4rem;
  height: 4.8rem;
  border: none;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
}
