@use "../abstracts/mixins" as *;

.search-form {
  width: 113rem;
  height: 8rem;
  background-color: var(--color-search-form-bg);
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  padding: 0px 1.6rem 0px 3.2rem;
  transform: translateY(-60%);

  @include respond(tab-land) {
    width: 90%;
  }

  @include respond(phone) {
    width: 85%;
    padding: 1.5rem;
  }

  &__group {
    display: flex;
    align-items: center;

    // justify-content: center;

    label {
      display: flex;
      align-items: center;
    }
    input {
      border: none;
      outline: none;
      height: 100%;
      border-right: 1px solid rgba(#6e8098, 0.2);
      font-family: "Kumbh Sans", sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2rem;
      color: var(--color-search-input-text);
      background-color: var(--color-search-input-bg);
      cursor: pointer;
      // padding: 0rem 3rem 10rem 2rem;

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      *::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }

      &::-ms-reveal,
      &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
      }

      &::placeholder {
        font-family: "Kumbh Sans", sans-serif;
        color: var(--color-input-placeholder);
        font-weight: 400;
        font-size: 1.61rem;
        line-height: 2rem;
        opacity: 0.5;
        padding: 0px 0.2rem;
        // margin-bottom: 2rem;
        transform: translateY(-10%);

        @include respond(phone) {
          padding: 0px;
        }
      }
    }
  }

  &__others {
    width: 45rem;
    @include respond(phone) {
      width: 100%;
    }

    label {
      @include respond(phone) {
        order: 2;

        svg {
          background-color: var(--color-violet-normal);
          border-radius: 0.5rem;
          width: 4.8rem;
          height: 4.8rem;
          fill: var(--color-white);
          padding: 1rem;
          margin-left: 1rem;
        }
      }
    }

    input {
      width: 45rem;
      height: 8rem;
      padding: 0px 1rem;

      @include respond(tab-land) {
        width: 30rem;
      }
      @include respond(tab-port) {
        width: 20rem;
      }
      @include respond(phone) {
        border-right: none;

        order: 0;
        width: 71%;
      }
    }
  }
  &__location {
    width: 31rem;
    padding: 0px 2rem;

    @include respond(tab-land) {
      padding: 0px 1rem;
    }

    @include respond(phone) {
      display: none;
    }

    input {
      width: 30rem;
      height: 100%;
      padding: 0px 1rem;

      @include respond(tab-port) {
        width: 20rem;
      }
    }
  }
  &__search-iconBtn {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__fulltime {
    width: 20.6rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--color-form-label-text);
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 5rem;

    @include respond(phone) {
      display: none;
    }

    label {
      margin-top: 0.5rem;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: var(--color-violet-normal);
        opacity: 1;
      }

      &:checked ~ .checkmark::after {
        display: block;
      }
    }
  }

  &__search-icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: var(--color-violet-normal);
  }

  &__location-icon {
    height: 2.7rem;
    width: 2.4rem;
    fill: var(--color-violet-normal);

    @include respond(phone) {
      display: none;
    }
  }

  &__btn {
    @include respond(phone) {
      display: none;
    }
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--checkmark-bg);
  opacity: 0.1;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.2s;

  &::after {
    content: url(/dist/assets/desktop/icon-check.svg);
    position: absolute;
    left: 0.5rem;
    top: 0.2rem;
    display: none;
  }
}
